{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}File project{% endblock %}</title>
    {#
    Those two blocks defines frontend entrypoint for CSS and JavaScript assets
    See https://symfony.com/doc/current/frontend.html
    #}
    {% block stylesheets %}

        <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />

    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    {% block body %}

    {% endblock %}