{% extends 'base.html.twig' %}


{% block body %}

<form>
    <div class="form-group">
        <label for="password">
            Type new password
        </label>

        <div class="form-control">
            <input type="password" id="password">
        </div>
    <label for="reEnterPassword">Retype password</label>
        <div class="form-control">
            <input type="password" id="reEnterPassword">
        </div>

        <div class="form-submit">
            <input type="submit">
        </div>
    </div>
</form>

{% endblock %}